/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

input[type="text"],
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #808080;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Styles specific to index.ejs */
.index-container {
    text-align: center;
    margin-top: 50px;
}

/* Styles specific to art.ejs */
.artwork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.artwork-container img {
    max-width: 100%;
    border-radius: 8px;
}

